<div class="flex center">
  <svg xmlns="http://www.w3.org/2000/svg" width="300" height="200" viewBox="0 0 300 200">
    <rect fill="#ddd" width="300" height="200"/>
    <text fill="rgba(0,0,0,0.5)" font-family="sans-serif" font-size="30" dy="10.5" font-weight="bold" x="50%" y="50%" text-anchor="middle">300×200</text>
  </svg>
</div>
<div class="skeleton-link"></div>
<div class="content">
  <div class="content skeleton-content">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</div>
<div class="flex center skeleton-more-info more-info">
  <div class="skeleton-button"></div><br>
</div>
