:host {
  background: rgba(255, 255, 255, .2);
  display: flex;
  padding: .5rem;
}

h1 {
  align-self: center;
  justify-self: center;
  color: white;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}
