:host {
  background: rgba(0, 0, 0, .7);
  grid-area: header;
  display: flex;
  height: 100px;
  width: 100vw;
  justify-content: center;
}

.logo {
  margin: 0 1rem;
  width: 50px;
}

h1 {
  align-self: center;
  color: #c0ec23;
  font-family: 'Alata', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

a {
  display: flex;
  text-decoration: none;
}
