<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>BMX tracks in or near Belgium </h2>
<h3>Clubs</h3>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="http://pmccycling.be/">PMC Cycling</a></h2>
    <p>Track is located in Zonhoven at the sport complex Basvelden </p>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.bmxzolder.be/">BMX Zolder</a></h2>
    <p>Track is located at Circuit Zolder</p>
  </li>
</ul>
<h3>Allway accesible tracks</h3>
<ul>
  <li>
    <h2>Meerhout</h2>
    <p>Track is located near the tennisclub in Meerhout </p>
    <section class="address">

    </section>
  </li>
  <li>
    <h2>Genk pumptrack @ Kattevennen</h2>
    <p>Track is located at Circuit Zolder</p>
    <section class="address">

    </section>
  </li>
</ul>

<router-outlet></router-outlet>
