<div *ngFor="let track of track$|async">
  <h2>{{track.trackName}}</h2>
  <div class="flex">
    <div>
      <img *ngIf="track.trackImage" [src]="track.trackImage"
           width="200px"
           height="200px"
           loading="lazy"
           alt="bmx track image"
      />
    </div>
    <div>
      <div [innerHTML]="track.trackContent"></div>
      <div>
        <a href="{{track.trackLink}}" target="_blank" rel="noopener">{{track.trackLink}} </a>
      </div>
    </div>
  </div>
</div>
