:host {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

@media(max-width: 768px) {
  :host {
    background: #999;
  }
}

@media(min-width: 768px) {
  :host::before {
    content: '';
    background-image: url('https://res.cloudinary.com/tcla/image/upload/c_scale,w_768/v1611182732/jan-kopriva-SHovE4BTOi4-unsplash_mhofbb.webp');
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
    height: 100vh;
    position: fixed;
    width: 100vw;
    z-index: -1;
  }
}

@media(min-width: 1920px) {
  :host::before {
    background-image: url('https://res.cloudinary.com/tcla/image/upload/c_scale,w_1920/v1611182732/jan-kopriva-SHovE4BTOi4-unsplash_mhofbb.webp');
  }
}

.main-ui {
  grid-area: content;
  justify-self: center;
}
