app-track-filters {
  margin-bottom: 1rem;
}

ul {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 1400px;

  li {
    flex: 0 1 300px;
    list-style-type: none;
  }
}




